{% extends "base.html" %}

{% block title %}Projects - Portfolio{% endblock %}

{% block content %}
    <h1>My Projects</h1>
    <ul>
        {% for project in projects %}
            <li class="project-block">
                <h2>{{ project.name }}</h2>
                <img src="{{ project.image }}" alt="{{ project.name }} image" class="project-image">
                <p><a href="{{ project.link }}" target="_blank">View Project</a></p>
                
                <!-- Collapsible description -->
                <div class="collapsible-container">
                    <p class="collapsible-content">{{ project.description | replace('\n', '<br>') | safe }}</p>
                    <button class="collapsible">Press for project description</button>
                </div>
            </li>
        {% endfor %}
    </ul>

    <script>
        // Get all collapsible buttons
        const collapsibles = document.querySelectorAll('.collapsible');

        // Loop through all collapsible buttons and add click event
        collapsibles.forEach(button => {
            button.addEventListener('click', () => {
                const content = button.previousElementSibling;
                
                // Toggle the visibility of the content
                if (content.style.display === "block") {
                    content.style.display = "none";
                    button.textContent = "Show More";
                } else {
                    content.style.display = "block";
                    button.textContent = "Show Less";
                }
            });
        });
    </script>
{% endblock %}